@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div class="page-header">
    <h4>@Model.Message</h4>
</div>
<div>
    <strong>Mobile:</strong> 610.360.8662<br />
    <strong>Email:</strong> <a href="mailto:gregorytapler@yahoo.com">gregorytapler@yahoo.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/gregorytapler" target="_blank">Gregory Tapler</a><br />
</div>